@use "./../../colors" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 16px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    cursor: pointer;
  }
}
