@use "_colors.scss" as *;

@mixin build-color-palette($base-color) {
  .base-color {
    background-color: $base-color;
  }

  @for $i from 1 through 4 {
    .lighten-#{$i} {
      background-color: lighten($base-color, $i * 5%);
    }
  }

  @for $i from 1 through 4 {
    .darken-#{$i} {
      background-color: darken($base-color, $i * 5%);
    }
  }
}
