@use "./../_colors.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  p {
    font-family: "Courier New", Courier, monospace;
    color: $white;
  }
}
